<!--======================================
        START HERO AREA
======================================-->
<section class="hero-area bg-white shadow-sm pt-80px pb-80px">
  <span class="icon-shape icon-shape-1"></span>
  <span class="icon-shape icon-shape-2"></span>
  <span class="icon-shape icon-shape-3"></span>
  <span class="icon-shape icon-shape-4"></span>
  <span class="icon-shape icon-shape-5"></span>
  <span class="icon-shape icon-shape-6"></span>
  <span class="icon-shape icon-shape-7"></span>
  <div class="container">
    <div class="hero-content text-center">
      <h2 class="section-title pb-3">Frequently Asked Questions</h2>
      <p class="section-desc">Find out everything you need to get started by taking the tour. <br>
        If you still have questions contact us:
        <a href="mailto:example@yourwebsite.com" class="text-color hover-underline">support@uniwell.com</a>
      </p>
    </div><!-- end hero-content -->
  </div><!-- end container -->
</section>
<!--======================================
        END HERO AREA
======================================-->

<!--======================================
        START FAQ AREA
======================================-->
<section class="faq-area pt-80px pb-80px">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div id="accordion" class="generic-accordion">
          <div class="card">
            <div class="card-header" id="headingOne">
              <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <span> What topics can I ask about here?</span>
                <i class="la la-angle-down collapse-icon"></i>
              </button>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion">
              <div class="card-body">
                <p class="fs-15 lh-24">The questions that you can ask depend on the categories presented to you. The question should include information that can help the community to answer as clearly as possible and help you with your related issue. The question should include:</p>
                <ul class="generic-list-item generic-list-item-bullet fs-15 pt-3">
                  <li>a clear and concise topic related to the category</li>
                  <li>a detailed description of the question</li>
                  <li>include images or sources such as pdfs or links (optional).</li>
                </ul>
              </div>
            </div>
          </div><!-- end card -->
          <div class="card">
            <div class="card-header" id="headingTwo">
              <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <span>What type of questions should I avoid asking?</span>
                <i class="la la-angle-down collapse-icon"></i>
              </button>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion">
              <div class="card-body">
                <p class="fs-15 lh-24">
                  Questions that are unclear and without appropriate details that other users of the platform can answer. Questions that use profanity are not allowed, it is going to be stopped and not uploaded if not changed. Sensitive images that have inappropriate content and involve your or another user’s personal information or data.
                </p>
              </div>
            </div>
          </div><!-- end card -->
          <div class="card">
            <div class="card-header" id="headingThree">
              <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <span>What does it mean if a question is...</span>
                <i class="la la-angle-down collapse-icon"></i>
              </button>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-bs-parent="#accordion">
              <div class="card-body">
                <ul class="generic-list-item generic-list-item-bullet fs-15 pt-3">
                  <li>Inappropriate: It is not going to be posted through the use of the profanity filter.</li>
                  <li>Has sensitive information: Puts yourself and other users in jeopardy through the use of personal information and/or data.</li>
                  <li>Not detailed: Other users are unable to help you fully due to the lack of information.</li>
                </ul>
              </div>
            </div>
          </div><!-- end card -->
          <div class="card">
            <div class="card-header" id="headingSix">
              <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                <span>Why do I see a message that my question does not meet standards?</span>
                <i class="la la-angle-down collapse-icon"></i>
              </button>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-bs-parent="#accordion">
              <div class="card-body">
                <p class="fs-15 lh-24">The question has not been completed, key information such as tags, description, title and not selecting the privacy policy option. The question has profanity. The question has sensitive information and does not meet the community guidelines.</p>
              </div>
            </div>
          </div><!-- end card -->
          <div class="card">
            <div class="card-header" id="headingSeven">
              <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                <span>Why are some questions marked as duplicates?</span>
                <i class="la la-angle-down collapse-icon"></i>
              </button>
            </div>
            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-bs-parent="#accordion">
              <div class="card-body">
                <p class="fs-15 lh-24">
                  A question can be marked as a duplicate due to the reason of people having to find the answers in one place. This is in order to fix the problem of fragmented information and promote the ease of finding information in a single place.
                </p>
              </div>
            </div>
          </div><!-- end card -->
          <div class="card">
            <div class="card-header" id="headingEight">
              <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                <span>What should I do if someone answers my question?</span>
                <i class="la la-angle-down collapse-icon"></i>
              </button>
            </div>
            <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-bs-parent="#accordion">
              <div class="card-body">
                <p class="fs-15 lh-24">You can:</p>
                <ul class="generic-list-item generic-list-item-bullet fs-15 pt-3">
                  <li>check if the information is helpful</li>
                  <li>upvote or downvote the question</li>
                  <li>if it is not helpful you can comment on the comment and point out the problem </li>
                  <li>if it is helpful you can give it a tick and highlight it as something helpful.</li>
                </ul>
              </div>
            </div>
          </div><!-- end card -->
        </div><!-- end accordion -->
      </div><!-- end col-lg-12 -->
    </div><!-- end row -->
  </div><!-- end container -->
</section>
<!--======================================
        END FAQ AREA
======================================-->