<div class="sidebar">
  <div class="card card-item p-4">
    <h3 class="fs-17 pb-3">Step 1: Draft your question</h3>
    <div class="divider"><span></span></div>
    <p class="fs-14 lh-22 pb-2 pt-3">The community is here to help you with specific coding, algorithm, or language problems.</p>
    <p class="fs-14 lh-22">Avoid asking opinion-based questions.</p>
    <div id="accordion" class="generic-accordion pt-4">
      <div class="card">
        <div class="card-header" id="headingOne">
          <button class="btn btn-link fs-15" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <span><span class="text-color pe-2 fs-16">1.</span> Summarize the problem</span>
            <i class="la la-angle-down collapse-icon"></i>
          </button>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion">
          <div class="card-body">
            <ul class="generic-list-item generic-list-item-bullet generic-list-item--bullet-2 fs-14">
              <li class="lh-18 text-black-50">Include details about your problem</li>
              <li class="lh-18 text-black-50">Include tags</li>
              <li class="lh-18 text-black-50">Share a source or image (optional)</li>
            </ul>
          </div>
        </div>
      </div><!-- end card -->
      <div class="card">
        <div class="card-header" id="headingTwo">
          <button class="btn btn-link collapsed fs-15" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <span><span class="text-color pe-2 fs-16">2.</span> What not to include</span>
            <i class="la la-angle-down collapse-icon"></i>
          </button>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion">
          <div class="card-body">
            <ul class="generic-list-item generic-list-item-bullet generic-list-item--bullet-2 fs-14">
              <li class="lh-18 text-black-50">Profanity and sensitive language</li>
              <li class="lh-18 text-black-50">Sensitive images</li>
              <li class="lh-18 text-black-50 mb-0">Sharing personal information of users</li>
            </ul>
          </div>
        </div>
      </div><!-- end card -->
    </div><!-- end accordion -->
  </div><!-- end card -->

</div><!-- end sidebar -->