<!-- ================================
         START QUESTION AREA
================================= -->
<section class="question-area pt-80px pb-40px">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="card card-item">
          <%= render "form", post: @post %>
        </div><!-- end card -->
      </div><!-- end col-lg-8 -->
      <div class="col-lg-4">
        <%= render 'sidebar' %>
      </div><!-- end col-lg-4 -->
    </div><!-- end row -->
  </div><!-- end container -->
</section><!-- end question-area -->
<!-- ================================
         END QUESTION AREA
================================= -->